.back_search{
  background-color: #212529;
}

.user_profile {
  background-color: white;
  border-radius: 100%;
  border-color: rgb(214, 214, 214);
  border-width: 1px;
  border-style: solid;
}

.user_profile_img {
  height: 40px ;
  border-radius: 100%;
  border-color: rgb(170, 170, 170);
  background-color: white;
  border-width: 1px;
  border-style: solid;

}
