<div class="container-fluid backhome">
  <div class="row">
    <div class="col-12">
      <!-----------------------------INERN CONTAINER-------------------------------->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-pub-nav></app-pub-nav>




              <div class="row v-center  ">
                <div class="col-12 text-center ">
                  <h1 class="titulo_high_white"><b>Una plataforma para subir tus peliculas</b></h1>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-8  text-end">
                  <a href="/login" type="button" class="btn btn-light texto_login">Iniciar sesion</a>
                </div>
              </div>





          </div>
        </div>
      </div>
      <!-----------------------------/INERN CONTAINER-------------------------------->
    </div>
  </div>
</div>
