.w-sidebar-container_secctions{
  background-color: #ffc500;
  height: 100vh;
  width: 66px;
  box-shadow: -2px 0px 18px 17px rgba(0,0,0,0.43);
}
.txt-wiki-logo{
  margin-top: 3 px;
  font-family: "SheRa";
}
.txt-wd-vide-back{
  margin-top: -5px;
  font-size: 70%;
  font-family: "SheRa";
}
