<div class="w-sidebar-container_secctions">
  <div class="container-fluid">
    <!--Logo-->
    <div class="row">
      <div class="col-12 text-center">
        <img class="img-fluid mt-2" src="../../../../../assets/img/wikilogo.svg">
        <p class="txt-wiki-logo"><b>Wiki</b></p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    <!--Options-->
    <div class="row">
      <div class="col-12">
        Buscar
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        TV
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        Cine
      </div>
    </div>


    <!--End Options-->

    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    <!--Go WDVide-->
    <div class="row">
      <div class="col-12 text-center">
        <a href="/p/vs/home"><img class="img-fluid mt-2" src="../../../../../assets/img/WDvide_Back.svg"></a>
        <p class="txt-wd-vide-back">Volver</p>
      </div>
    </div>

  </div>
</div>
